{% extends 'base.html.twig' %}
{% block title 'Admin' %}
{% block body %}
    <h1>Hello
        {{ controller_name }}!
    </h1>
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button class="btn btn-warning"> Sauvegarder </button>
    {{ form_end(form) }}

    <a href="{{ path('admin') }}" class="btn btn-secondary">Retour à la page Admin</a>
{% endblock %}
