{% extends 'base.html.twig' %}
{% block title 'Votre Panier' %}
{% block body %}

    <div class="container mt-4">
        <h2>Panier</h2>
        {% if items | length > 0 %}
            <table class="table">
                <thead>
                <tr>
                    <th>Plat</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.plat.nom }}</td>
                        <td>{{ item.plat.prix }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.plat.prix * item.quantity }}</td>
                        <td>
                            <a href="{{ path('remove-panier',{id:item.plat.id}) }}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3">Total : </td>
                    <td>{{ total }} €</td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        {% else %}
            <h3>Panier Vide</h3>
        {% endif %}
        <a href="{{ path('vider-panier') }}" class="btn btn-danger"> Vider Panier </a> <a href="{{ path('commande') }}" class="btn btn-warning"> Retourner à la carte </a>
    </div>

{% endblock %}